#rgw_realm: usa

# the user should generate a new pair of keys for each realm

#system_access_key: 6kWkikvapSnHyE22P7nO
#system_secret_key: MGecsMrWtKZgngOHZdrd6d3JxGO5CPWgT2lcnpSt

#rgw_realm_system_user: bostonian
#rgw_realm_system_user_display_name: "Mark Wahlberg"

# The variables rgw_pull_port, rgw_pull_proto, rgw_pullhost, are what comprise one of the rgw endpoints in a master zone in the zonegroup and realm you want to create secondary zones in.

#rgw_pull_port: "{{ radosgw_frontend_port }}"
#rgw_pull_proto: "http"
#rgw_pullhost: localhost
