#rgw_zone: boston

# Both rgw_zonemaster and rgw_zonesecondary must be set and they cannot have the same value

#rgw_zonemaster: true
#rgw_zonesecondary: false

#rgw_zonegroup: massachusetts

# The variable rgw_zonegroupmaster specifies the zonegroup will be the master zonegroup in a realm. There can only be one master zonegroup in a realm

#rgw_zonegroupmaster: true
