# This file is managed by ansible, don't make changes here - they will be
# overwritten.
[Unit]
Description=Node Exporter
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/usr/bin/docker start --attach node-exporter
# Make sure the cfg80211 is loaded before running the container, the node
# exporter needs this module loaded to test for presence of wi-fi devices
ExecStartPre=/usr/sbin/modprobe cfg80211
ExecStop=-/usr/bin/docker stop node-exporter
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
