[submodule "roles/ceph-common"]
	path = roles/ceph-common
	url = git@github.com:mhubig/ceph-common-ansible.git
[submodule "roles/ceph-mds"]
	path = roles/ceph-mds
	url = git@github.com:mhubig/ceph-mds-ansible.git
[submodule "roles/ceph-mon"]
	path = roles/ceph-mon
	url = git@github.com:mhubig/ceph-mon-ansible.git
[submodule "roles/ceph-osd"]
	path = roles/ceph-osd
	url = git@github.com:mhubig/ceph-osd-ansible.git
[submodule "roles/ceph-radosgw"]
	path = roles/ceph-radosgw
	url = git@github.com:mhubig/ceph-radosgw-ansible.git
[submodule "roles/haproxy"]
	path = roles/haproxy
	url = git@github.com:mhubig/haproxy-ansible.git
