.vagrant
*.vdi
*.keyring
fetch/*
/vagrant_variables.yml
group_vars/all
group_vars/mons
group_vars/osds
group_vars/mdss
group_vars/rgws
group_vars/agent
group_vars/*.yml
*.DS_Store
/*.yml
*.pyc
*.sw?
.tox
ceph-ansible.spec
*.retry
*.pytest_cache
!.travis.yml
!.mergify.yml
!raw_install_python.yml