.vagrant
*.vdi
*.keyring
inventory/*/fetch/*
/vagrant_variables.yml
inventory/*/group_vars/all
inventory/*/group_vars/mons
inventory/*/group_vars/osds
inventory/*/group_vars/mdss
inventory/*/group_vars/rgws
inventory/*/group_vars/restapis
inventory/*/group_vars/agent
inventory/*/group_vars/*.yml
*.DS_Store
/*.yml
*.pyc
*.sw?
.tox
ceph-ansible.spec
*.retry
*.pytest_cache
