# Comments inside this file must be set BEFORE the option.
# NOT after the option, otherwise the comment will be interpreted as a value to that option.

[defaults]
ansible_managed = Please do not change this file directly since it is managed by Ansible and will be overwritten
action_plugins = plugins/actions
roles_path = ./roles
# Be sure the user running Ansible has permissions on the logfile
log_path = /var/log/ansible.log

# Disable them in the context of https://review.openstack.org/#/c/469644
retry_files_enabled = False

[ssh_connection]
# see: https://github.com/ansible/ansible/issues/11536
control_path = %(directory)s/%%h-%%r-%%p
