---
# Defines deployment design and assigns role to server groups

- hosts:
  - mons
  - agents
  - osds
  - mdss
  - rgws
  - nfss
  - restapis
  - rbdmirrors
  - clients
  - mgrs
  - iscsi-gws

  gather_facts: false

  tags:
    - always

  vars:
    delegate_facts_host: True

  tasks:
    # If we can't get python2 installed before any module is used we will fail
    # so just try what we can to get it installed
    - name: check for python2
      stat:
        path: /usr/bin/python
      ignore_errors: yes
      register: systempython2

    - name: install python2 for debian based systems
      raw: sudo apt-get -y install python-simplejson
      ignore_errors: yes
      when:
        - systempython2.stat.exists is undefined or systempython2.stat.exists == false

    - name: install python2 for fedora
      raw: sudo dnf -y install python creates=/usr/bin/python
      ignore_errors: yes
      when:
        - systempython2.stat.exists is undefined or systempython2.stat.exists == false

    - name: install python2 for opensuse
      raw: sudo zypper -n install python-base creates=/usr/bin/python2.7
      ignore_errors: yes
      when:
        - systempython2.stat.exists is undefined or systempython2.stat.exists == false

    - name: gather facts
      setup:
      when:
        - not delegate_facts_host | bool

    - name: gather and delegate facts
      setup:
      delegate_to: "{{ item }}"
      delegate_facts: True
      with_items: "{{ groups['all'] }}"
      when:
        - delegate_facts_host | bool

    - name: install required packages for fedora > 23
      raw: sudo dnf -y install python2-dnf libselinux-python ntp
      when:
        - ansible_distribution == 'Fedora'
        - ansible_distribution_major_version|int >= 23

- hosts: ceph-grafana
  gather_facts: false
  become: true
  roles:
		- ceph-grafana

- hosts: mons
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-mon
    - ceph-collectd

- hosts: mgrs
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'], when: "ceph_release_num[ceph_release] >= ceph_release_num.luminous" }
    - { role: ceph-mgr, when: "ceph_release_num[ceph_release] >= ceph_release_num.luminous" }
    - ceph-collectd


- hosts: agents
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-agent
    - ceph-collectd


- hosts: osds
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-osd
    - ceph-collectd


- hosts: mdss
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-mds
    - ceph-collectd


- hosts: rgws
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-rgw
    - ceph-collectd


- hosts: nfss
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'], when: "ceph_release_num[ceph_release] >= ceph_release_num.luminous" }
    - { role: ceph-nfs, when: "ceph_release_num[ceph_release] >= ceph_release_num.luminous" }
    - ceph-collectd


- hosts: restapis
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-restapi
    - ceph-collectd


- hosts: rbdmirrors
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-rbd-mirror
    - ceph-collectd


- hosts: clients
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'] }
    - ceph-client
    - ceph-collectd


- hosts: iscsi-gws
  gather_facts: false
  become: True
  roles:
    - { role: ceph-defaults, tags: ['ceph_update_config'] }
    - ceph-common
    - { role: ceph-config, tags: ['ceph_update_config'], when: "ceph_release_num[ceph_release] >= ceph_release_num.luminous" }
    - { role: ceph-iscsi-gw, when: "ceph_release_num[ceph_release] >= ceph_release_num.luminous" }
    - ceph-collectd
