---
# Defines deployment design and assigns role to server groups

- hosts:
  - mons
  - agents
  - osds
  - mdss
  - rgws
  - nfss
  - restapis
  - rbdmirrors
  - clients
  - iscsigws
  - mgrs
  tasks: []

- hosts: mons
  become: True
  gather_facts: false
  roles:
  - ceph-mon
  serial: 1 # MUST be '1' WHEN DEPLOYING MONITORS ON DOCKER CONTAINERS

- hosts: osds
  become: True
  roles:
  - ceph-osd

- hosts: mdss
  become: True
  roles:
  - ceph-mds

- hosts: rgws
  become: True
  roles:
  - ceph-rgw

- hosts: nfss
  become: True
  roles:
  - ceph-nfs

- hosts: rbd_mirrors
  become: True
  roles:
  - ceph-rbd-mirror

- hosts: restapis
  become: True
  roles:
  - ceph-restapi

- hosts: mgrs
  become: True
  roles:
    - { role: ceph-mgr, when: "ceph_release_num.{{ ceph_stable_release }} > ceph_release_num.jewel" }
