# This file is managed by ansible, don't make changes here - they will be
# overwritten.
[Unit]
Description=prometheus
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/usr/bin/docker start --attach prometheus
ExecStop=/usr/bin/docker stop prometheus
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
