# This file is managed by ansible, don't make changes here - they will be
# overwritten.
[Unit]
Description=alertmanager
{% if container_binary == 'docker' %}
After=docker.service
{% else %}
After=network.target
{% endif %}

[Service]
WorkingDirectory={{ alertmanager_data_dir }}
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/{{ container_binary }} rm -f alertmanager
ExecStart=/usr/bin/{{ container_binary }} run --name=alertmanager \
  -v "{{ alertmanager_conf_dir }}:/etc/alertmanager:Z" \
  -v "{{ alertmanager_data_dir }}:/alertmanager:Z" \
  --net=host \
  --cpu-period={{ alertmanager_container_cpu_period }} \
  --cpu-quota={{ alertmanager_container_cpu_period * alertmanager_container_cpu_cores }} \
  --memory={{ alertmanager_container_memory }}GB \
  --memory-swap={{ alertmanager_container_memory * 2 }}GB \
  {{ alertmanager_container_image }} \
  --config.file=/etc/alertmanager/alertmanager.yml \
  --storage.path=/alertmanager \
  --web.listen-address=:{{ alertmanager_port }}
ExecStop=/usr/bin/{{ container_binary }} stop alertmanager
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
