# These are Python requirements needed to run the functional tests
docker>=7.0.0
pytest-testinfra
pytest-xdist
pytest
ansible-core>=2.16,<2.19
netaddr
mock
molecule==25.12.0
molecule-plugins[docker]==25.8.12
jmespath
pytest-rerunfailures
pytest-cov
setuptools
