# These are Python requirements needed to run the functional tests
six==1.10.0
testinfra>=3.2,<3.3
pytest-xdist==1.28.0
pytest>=4.6,<5.0
ansible>=2.8,<2.9
Jinja2>=2.10
netaddr
mock
jmespath
pytest-rerunfailures