# This file is managed by ansible, don't make changes here - they will be
# overwritten.
[Unit]
Description=grafana-server
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/usr/bin/docker start --attach grafana-server
ExecStop=-/usr/bin/docker stop grafana-server
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
