[defaults]
ansible_managed = Please do not change this file directly since it is managed by Ansible and will be overwritten
action_plugins = ../plugins/actions
callback_plugins = ../plugins/callback
roles_path = ../roles
