apiVersion: 1

providers:
- name: 'Ceph Dashboard'
  orgId: 1
  folder: 'ceph-dashboard'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  editable: false
  options:
    path: '{{ grafana_dashboards_path }}'
