# This file is managed by ansible, don't make changes here - they will be
# overwritten.
[Unit]
Description=grafana-server
{% if container_binary == 'docker' %}
After=docker.service
{% endif %}

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/usr/bin/{{ container_binary }} start --attach grafana-server
ExecStop=-/usr/bin/{{ container_binary }} stop grafana-server
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
