[Unit]
Description=graphite-api socket

[Socket]
ListenStream=/run/graphite-api.sock
ListenStream=127.0.0.1:{{ graphite.api_port }}

[Install]
WantedBy=sockets.target
