[Service]
{% if ceph_docker_http_proxy is defined %}
Environment="HTTP_PROXY={{ ceph_docker_http_proxy }}"
{% endif %}
{% if ceph_docker_https_proxy is defined %}
Environment="HTTPS_PROXY={{ ceph_docker_https_proxy }}"
{% endif %}
Environment="NO_PROXY={{ ceph_docker_no_proxy }}"
