#!/bin/bash

RETRIES="{{ handler_health_rgw_check_retries }}"
DELAY="{{ handler_health_rgw_check_delay }}"
HOST_NAME="{{ ansible_hostname }}"
RGW_NUMS={{ radosgw_num_instances }}
RGW_BASE_PORT={{ radosgw_frontend_port }}
RGW_FRONTEND_SSL_CERT={{ radosgw_frontend_ssl_certificate }}
if [ -n "$RGW_FRONTEND_SSL_CERT" ]; then
    RGW_PROTOCOL=https
else
    RGW_PROTOCOL=http
fi
declare -a DOCKER_EXECS
for ((i=0; i<${RGW_NUMS}; i++)); do
  DOCKER_EXECS[i]=""
{% if containerized_deployment | bool %}
  CONTAINER_NAME="ceph-rgw-${HOST_NAME}-rgw${i}"
  DOCKER_EXECS[i]="{{ container_binary }} exec ${CONTAINER_NAME}"
{% endif %}
done
declare -a SOCKETS
RGW_IP={{ hostvars[inventory_hostname]['_radosgw_address'] }}
SOCKET_PREFIX="/var/run/ceph/{{ cluster }}-client.rgw.${HOST_NAME}.rgw"

check_socket() {
  local i=$1
  local succ=0
  local count=10
  # Wait and ensure the socket exists after restarting the daemon
  while [ $count -ne 0 ]; do
    ${DOCKER_EXECS[i]} test -S ${SOCKET_PREFIX}${i}.*.*.asok && SOCKETS[i]=$(stat --printf=%n ${SOCKET_PREFIX}${i}.*.*.asok)
    ${DOCKER_EXECS[i]} test -S ${SOCKETS[i]} && succ=$((succ+1)) && break
    sleep $DELAY
    let count=count-1
  done
  if [ $succ -ne 1 ]; then
    echo "Socket file ${SOCKETS[i]} could not be found, which means Rados Gateway is not running. Showing ceph-rgw unit logs now:"
    journalctl -u ceph-radosgw@rgw.${HOST_NAME}.rgw${i}
    exit 1
  fi
}

check_for_curl_or_wget() {
  local i=$1
  if ${DOCKER_EXECS[i]} command -v wget &>/dev/null; then
    rgw_test_command="wget --no-check-certificate --tries 1 --quiet -O /dev/null"
  elif ${DOCKER_EXECS[i]} command -v curl &>/dev/null; then
    rgw_test_command="curl -k --fail --silent --output /dev/null"
  else
    echo "It seems that neither curl nor wget are available on your system."
    echo "Cannot test rgw connection."
    exit 0
  fi
}

check_rest() {
  local i=$1
  check_for_curl_or_wget ${i}
  local succ=0
  while [ $RETRIES -ne 0 ]; do
    ${DOCKER_EXECS[i]} $rgw_test_command $RGW_PROTOCOL://$RGW_IP:$((RGW_BASE_PORT+i)) && succ=$((succ+1)) && break
    sleep $DELAY
    let RETRIES=RETRIES-1
  done
  if [ $succ -ne 1 ]; then
    # If we reach this point, it means there is a problem with the connection to rgw
    echo "Error connecting locally to Rados Gateway service: $RGW_PROTOCOL://$RGW_IP:$((RGW_BASE_PORT+i))"
    exit 1
  fi
}

for ((i=0; i<${RGW_NUMS}; i++)); do
  SOCKETS[i]="EMPTY_SOCKET"
  # First, restart the daemon
  systemctl restart ceph-radosgw@rgw.${HOST_NAME}.rgw${i}
  # Check socket files
  check_socket ${i}
  # Check rest
  check_rest ${i}
done
