[Unit]
Description=Ceph RGW
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker stop ceph-rgw-{{ ansible_hostname }}
ExecStartPre=-/usr/bin/docker rm ceph-rgw-{{ ansible_hostname }}
ExecStart=/usr/bin/docker run --rm --net=host \
  --memory={{ ceph_rgw_docker_memory_limit }} \
  {% if ceph_docker_version.split('.')[0] | version_compare('13', '>=') -%}
  --cpus={{ ceph_rgw_docker_cpu_limit }} \
  {% else -%}
  --cpu-quota={{ ceph_rgw_docker_cpu_limit * 100000 }} \
  {% endif -%}
  {% if not containerized_deployment_with_kv -%}
  -v /var/lib/ceph:/var/lib/ceph \
  -v /etc/ceph:/etc/ceph \
  {% else -%}
  -e KV_TYPE={{ kv_type }} \
  -e KV_IP={{ kv_endpoint }} \
  -e KV_PORT={{ kv_port }} \
  {% endif -%}
{% if hostvars[inventory_hostname]['radosgw_address_block'] is defined and hostvars[inventory_hostname]['radosgw_address_block'] != 'subnet' %}
    {% if ip_version == 'ipv4' %}
  -e RGW_CIVETWEB_IP={{ hostvars[inventory_hostname]['ansible_all_' + ip_version + '_addresses'] | ipaddr(radosgw_address_block) | first }} \
    {% elif ip_version == 'ipv6' %}
  -e RGW_CIVETWEB_IP=[{{ hostvars[inventory_hostname]['ansible_all_' + ip_version + '_addresses'] | ipaddr(radosgw_address_block) | first }}] \
    {% endif %}
{% elif radosgw_address_block is defined and radosgw_address_block != 'subnet' -%}
    {% if ip_version == 'ipv4' %}
  -e RGW_CIVETWEB_IP={{ ['ansible_all_' + ip_version + '_addresses'] | ipaddr(radosgw_address_block) | first }} \
    {% elif ip_version == 'ipv6' %}
  -e RGW_CIVETWEB_IP=[{{ ['ansible_all_' + ip_version + '_addresses'] | ipaddr(radosgw_address_block) | first }}] \
    {% endif %}
{% elif hostvars[inventory_hostname]['radosgw_address'] is defined and hostvars[inventory_hostname]['radosgw_address'] != 'address' -%}
    {% if ip_version == 'ipv4' %}
  -e RGW_CIVETWEB_IP={{ hostvars[inventory_hostname]['radosgw_address'] }} \
    {% elif ip_version == 'ipv6' %}
  -e RGW_CIVETWEB_IP=[{{ hostvars[inventory_hostname]['radosgw_address'] }}] \
    {% endif %}
{% elif radosgw_address is defined and radosgw_address != 'address' -%}
    {% if ip_version == 'ipv4' %}
  -e RGW_CIVETWEB_IP={{ radosgw_address }} \
    {% elif ip_version == 'ipv6' %}
  -e RGW_CIVETWEB_IP=[{{ radosgw_address }}] \
    {% endif %}
{% elif hostvars[inventory_hostname]['radosgw_interface'] is defined -%}
    {% set interface = 'ansible_' + (hostvars[inventory_hostname]['radosgw_interface'] | replace('-', '_')) %}
    {% if ip_version == 'ipv4' %}
  -e RGW_CIVETWEB_IP={{ hostvars[inventory_hostname][interface][ip_version]['address'] }} \
    {% elif ip_version == 'ipv6' %}
  -e RGW_CIVETWEB_IP=[{{ hostvars[inventory_hostname][interface][ip_version][0]['address'] }}] \
    {% endif %}
{% else %}
    {% set interface = 'ansible_' + (radosgw_interface | replace('-', '_')) %}
    {% if ip_version == 'ipv4' %}
  -e RGW_CIVETWEB_IP={{ hostvars[inventory_hostname][interface][ip_version]['address'] }} \
    {% elif ip_version == 'ipv6' %}
  -e RGW_CIVETWEB_IP=[{{ hostvars[inventory_hostname][interface][ip_version][0]['address'] }}] \
    {% endif %}
{% endif %}
  -v /etc/localtime:/etc/localtime:ro \
  -e CEPH_DAEMON=RGW \
  -e CLUSTER={{ cluster }} \
  -e RGW_CIVETWEB_PORT={{ radosgw_civetweb_port }} \
  --name=ceph-rgw-{{ ansible_hostname }} \
  {{ ceph_rgw_docker_extra_env }} \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
ExecStopPost=-/usr/bin/docker stop ceph-rgw-{{ ansible_hostname }}
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
