[Unit]
Description=Ceph RGW
After=docker.service

[Service]
EnvironmentFile=/var/lib/ceph/radosgw/ceph-%i/EnvironmentFile
ExecStartPre=-/usr/bin/{{ container_binary }} stop ceph-rgw-{{ ansible_hostname }}-${INST_NAME}
ExecStartPre=-/usr/bin/{{ container_binary }} rm ceph-rgw-{{ ansible_hostname }}-${INST_NAME}
ExecStart=/usr/bin/{{ container_binary }} run --rm --net=host \
  --memory={{ ceph_rgw_docker_memory_limit }} \
  {% if (container_binary == 'docker' and ceph_docker_version.split('.')[0] is version_compare('13', '>=')) or container_binary == 'podman' -%}
  --cpus={{ ceph_rgw_docker_cpu_limit }} \
  {% else -%}
  --cpu-quota={{ ceph_rgw_docker_cpu_limit * 100000 }} \
  {% endif -%}
  -v /var/lib/ceph:/var/lib/ceph:z \
  -v /etc/ceph:/etc/ceph:z \
  -v /var/run/ceph:/var/run/ceph:z \
  -v /etc/localtime:/etc/localtime:ro \
  -e CEPH_DAEMON=RGW \
  -e CLUSTER={{ cluster }} \
  -e RGW_NAME={{ ansible_hostname }}.${INST_NAME} \
  -e RGW_CIVETWEB_PORT=${INST_PORT} \
  --name=ceph-rgw-{{ ansible_hostname }}-${INST_NAME} \
  {{ ceph_rgw_docker_extra_env }} \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
ExecStopPost=-/usr/bin/{{ container_binary }} stop ceph-rgw-{{ ansible_hostname }}-${INST_NAME}
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
