[Unit]
Description=Ceph RGW
PartOf=ceph-radosgw.target
{% if container_binary == 'docker' %}
After=docker.service network-online.target local-fs.target time-sync.target
Requires=docker.service
{% else %}
After=network-online.target local-fs.target time-sync.target
{% endif %}
Wants=network-online.target local-fs.target time-sync.target
{% set cpu_limit = ansible_facts['processor_vcpus']|int if ceph_rgw_docker_cpu_limit|int > ansible_facts['processor_vcpus']|int else ceph_rgw_docker_cpu_limit|int %}

[Service]
EnvironmentFile=/var/lib/ceph/radosgw/{{ cluster }}-%i/EnvironmentFile
{% if container_binary == 'podman' %}
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStartPre=-/usr/bin/{{ container_binary }} rm --storage ceph-rgw-{{ ansible_facts['hostname'] }}-${INST_NAME}
ExecStartPre=-/usr/bin/mkdir -p /var/log/ceph
{% else %}
ExecStartPre=-/usr/bin/{{ container_binary }} stop ceph-rgw-{{ ansible_facts['hostname'] }}-${INST_NAME}
{% endif %}
ExecStartPre=-/usr/bin/{{ container_binary }} rm ceph-rgw-{{ ansible_facts['hostname'] }}-${INST_NAME}
ExecStart=/usr/bin/{{ container_binary }} run --rm --net=host \
{% if container_binary == 'podman' %}
  -d --log-driver journald --conmon-pidfile /%t/%n-pid --cidfile /%t/%n-cid \
{% endif %}
  --pids-limit={{ 0 if container_binary == 'podman' else -1 }} \
  --memory={{ ceph_rgw_docker_memory_limit }} \
  --cpus={{ cpu_limit }} \
  --security-opt label=disable \
  {% if ceph_rgw_docker_cpuset_cpus is defined -%}
  --cpuset-cpus="{{ ceph_rgw_docker_cpuset_cpus }}" \
  {% endif -%}
  {% if ceph_rgw_docker_cpuset_mems is defined -%}
  --cpuset-mems="{{ ceph_rgw_docker_cpuset_mems }}" \
  {% endif -%}
  -v /var/lib/ceph:/var/lib/ceph \
  -v /etc/ceph:/etc/ceph \
  -v /var/run/ceph:/var/run/ceph \
  -v /etc/localtime:/etc/localtime \
  -v /var/log/ceph:/var/log/ceph \
  {% if ansible_facts['os_family'] == 'RedHat' -%}
  -v /etc/pki/ca-trust/extracted:/etc/pki/ca-trust/extracted \
  {% endif -%}
  {% if radosgw_frontend_ssl_certificate -%}
  -v {{ radosgw_frontend_ssl_certificate }}:{{ radosgw_frontend_ssl_certificate }} \
  {% endif -%}
  -e CEPH_DAEMON=RGW \
  -e CLUSTER={{ cluster }} \
  -e RGW_NAME={{ ansible_facts['hostname'] }}.${INST_NAME} \
  -e CONTAINER_IMAGE={{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }} \
  -e TCMALLOC_MAX_TOTAL_THREAD_CACHE_BYTES={{ ceph_tcmalloc_max_total_thread_cache }} \
  --name=ceph-rgw-{{ ansible_facts['hostname'] }}-${INST_NAME} \
  {{ ceph_rgw_docker_extra_env }} \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
{% if container_binary == 'podman' %}
ExecStop=-/usr/bin/sh -c "/usr/bin/{{ container_binary }} rm -f `cat /%t/%n-cid`"
{% else %}
ExecStopPost=-/usr/bin/{{ container_binary }} stop ceph-rgw-{{ ansible_facts['hostname'] }}-${INST_NAME}
{% endif %}
KillMode=none
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15
{% if container_binary == 'podman' %}
Type=forking
PIDFile=/%t/%n-pid
{% endif %}

[Install]
WantedBy=ceph.target
