# This file configures logical volume creation for FS Journals on NVMe, a NVMe based bucket index, and HDD based OSDs.
# It outputs the necessary input for group_vars/osds.yml.
# The LVs for journals/DB/WAL are created first then the LVs for data. All LVs for journals/DB/WAL correspond to a LV for data.
#
## CHANGE THESE VARS ##
#
# The NVMe device and the hdd devices must be raw and not have any GPT, FS, or RAID signatures. 
# GPT, FS, & RAID signatures should be removed from a device prior to running the lv-create.yml playbook. 
# 
# Having leftover signatures can result in ansible errors that say "device $device_name excluded by a filter" after running the lv-create.yml playbook.
# This can be done by running `wipefs -a $device_name`.

# nvme_device is the Path of nvme device primed for LV creation for journals/DB/WAL and data.
# hdd_devices is a list of Path of hdd devices designated for LV creation.
# lv_name var is a list of bucket index LVs created on the NVMe device. We recommend one be created but you can add others
lvm_devices:
  - nvme_device: dummy
    hdd_devices:
     - /dev/sdd
     - /dev/sde
     - /dev/sdf
     - /dev/sdg
     - /dev/sdh
    nvme_device_lvs:
     - lv_name: "ceph-bucket-index-1"
       size: 100%FREE
       journal_name: "ceph-journal-bucket-index-1-{{ nvme_device_basename }}"
  - nvme_device: dummy
    hdd_devices:
     - /dev/sdi
     - /dev/sdj
     - /dev/sdk
     - /dev/sdl
     - /dev/sdm
    nvme_device_lvs:
     - lv_name: "ceph-bucket-index-2"
       size: 100%FREE
       journal_name: "ceph-journal-bucket-index-1-{{ nvme_device_basename }}"

# Per the lvol module documentation, "size" and "journal_size" is the size of the logical volume, according to lvcreate(8) --size. 
# This is by default in megabytes or optionally with one of [bBsSkKmMgGtTpPeE] units; or according to lvcreate(8) --extents as a percentage of [VG|PVS|FREE]; Float values must begin with a digit.
# For further reading and examples see: https://docs.ansible.com/ansible/2.6/modules/lvol_module.html
# journal size will allso be the size of the WAL device. You can set it to 0 if you dont need WAL devices.

# Suggested journal size is 5500
journal_size: 5500
# recommadet db size is 1% - 4% (4% for RGW workload) of data partition size. if set, set it to "{{ bluestore_block_db_size }}b"
db_size: 1234

## TYPICAL USERS WILL NOT NEED TO CHANGE VARS FROM HERE DOWN ##

# the path to where to save the logfile for lv-create.yml
logfile_path: ./lv-create.log

# all hdd's have to be the same size and the LVs on them are dedicated for OSD data
hdd_lv_size: 100%FREE

hdd_vg_prefix: "ceph-hdd-vg"
hdd_lv_prefix: "ceph-hdd-lv"
# the jurnal prefix is allso used for WAL
hdd_journal_prefix: "ceph-journal"
hdd_db_prefix: "ceph-db"

# Journals are created on NVMe device
