{% if crush_location %}
[osd.{{ item.stdout }}]
osd crush location = {{ osd_crush_location }}
{% elif crush_location_ssd_hdd %}
{% for i in osd_crush_location_ssd_hdd %}
[osd.{{ item.stdout }}]
osd crush location = {{ i }}
{% endfor %}
{% endif %}
