#!/bin/bash
# Sets up handy aliases for ceph.
ceph() {
  sudo {{ docker_exec_cmd }} ceph --cluster {{ cluster }} ${@}
}

radosgw-admin() {
  sudo {{ docker_exec_cmd }} radosgw-admin --cluster {{ cluster }} ${@}
}

rados() {
  sudo {{ docker_exec_cmd }} rados --cluster {{ cluster }} ${@}
}

rbd() {
  sudo {{ docker_exec_cmd }} rbd --cluster {{ cluster }} ${@}
}
