[Unit]
Description=Ceph Monitor
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker rm ceph-mon-%i
ExecStartPre=/bin/sh -c '"$(command -v mkdir)" -p /etc/ceph /var/lib/ceph/mon'
ExecStart=/usr/bin/docker run --rm --name ceph-mon-%i \
  --memory={{ ceph_mon_docker_memory_limit }} \
{% if ceph_docker_version.split('.')[0] is version_compare('13', '>=') -%}
  --cpus={{ ceph_mon_docker_cpu_limit }} \
{% else -%}
  --cpu-quota={{ ceph_mon_docker_cpu_limit * 100000 }} \
{% endif -%}
{% if not containerized_deployment_with_kv -%}
  -v /var/lib/ceph:/var/lib/ceph:z \
  -v /etc/ceph:/etc/ceph:z \
  -v /var/run/ceph:/var/run/ceph:z \
{% else -%}
  -e KV_TYPE={{kv_type}} \
  -e KV_IP={{kv_endpoint}}\
  -e KV_PORT={{kv_port}} \
{% endif -%}
  -v /etc/localtime:/etc/localtime:ro \
{% if mon_docker_privileged -%}
  --privileged \
{% endif -%}
{% if mon_docker_net_host -%}
  --net=host \
{% endif -%}
  -e IP_VERSION={{ ip_version[-1:] }} \
{% for host in _monitor_addresses %}
{% if host.name == inventory_hostname %}
-e MON_IP={{ host.addr }} \
{% endif %}
{% endfor %}
  -e CLUSTER={{ cluster }} \
  -e FSID={{ fsid }} \
  -e CEPH_PUBLIC_NETWORK={{ public_network | regex_replace(' ', '') }} \
  -e CEPH_DAEMON=MON \
  {{ ceph_mon_docker_extra_env }} \
  {{ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
ExecStop=-/usr/bin/docker stop ceph-mon-%i
ExecStopPost=-/bin/rm -f /var/run/ceph/{{ cluster }}-mon.{{ monitor_name }}.asok
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
