#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

{% if nfs_file_gw %}
EXPORT
{
	Export_ID={{ ceph_nfs_ceph_export_id }};

	Path = "/";

	Pseudo = {{ ceph_nfs_ceph_pseudo_path }};

	Access_Type = {{ ceph_nfs_ceph_access_type }};

	NFS_Protocols = {{ ceph_nfs_ceph_protocols }};

	Transport_Protocols = TCP;

	Sectype = sys,krb5,krb5i,krb5p;

	FSAL {
		Name = CEPH;
	}
}
{% endif %}
{% if nfs_obj_gw %}
EXPORT
{
	Export_ID={{ ceph_nfs_rgw_export_id }};

	Path = "/";

	Pseudo = {{ ceph_nfs_rgw_pseudo_path }};

	Access_Type = {{ ceph_nfs_rgw_access_type }};

	NFS_Protocols = {{ ceph_nfs_rgw_protocols }};

	Transport_Protocols = TCP;

	Sectype = sys,krb5,krb5i,krb5p;

	FSAL {
		Name = RGW;
		User_Id = "{{ ceph_nfs_rgw_user }}";
		Access_Key_Id ="{{ ceph_nfs_rgw_access_key }}";
		Secret_Access_Key = "{{ ceph_nfs_rgw_secret_key }}";
	}
}
{% endif %}

LOG {
        Facility {
                name = FILE;
                destination = "{{ ceph_nfs_log_file }}";
                enable = active;
        }
}
