#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

EXPORT
{
	Export_ID={{ ceph_nfs_export_id }};

	Path = "/";

	Pseudo = {{ ceph_nfs_pseudo_path }};

	Access_Type = {{ ceph_nfs_access_type }};

	NFS_Protocols = {{ ceph_nfs_protocols }};

	Transport_Protocols = TCP;

	Sectype = sys,krb5,krb5i,krb5p;

	FSAL {
		Name = CEPH;
	}
}
