#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

{% if nfs_file_gw %}
EXPORT
{
	Export_id={{ ceph_nfs_ceph_export_id }};

	Path = "/";

	Pseudo = {{ ceph_nfs_ceph_pseudo_path }};

	Access_Type = {{ ceph_nfs_ceph_access_type }};

	Protocols = {{ ceph_nfs_ceph_protocols }};

	Transports = TCP;

	SecType = sys,krb5,krb5i,krb5p;

	FSAL {
		Name = CEPH;
		User_Id = "{{ ceph_nfs_ceph_user }}";
	}
}
{% endif %}
LOG {
        Facility {
                name = FILE;
                destination = "{{ ceph_nfs_log_file }}";
                enable = active;
        }
}
