# {{ ansible_managed }}
[rh_storage_mon]
name=Red Hat Ceph Storage - local packages for Ceph monitor
baseurl=file://{{ ceph_rhcs_repository_path }}/MON
enabled=1
gpgcheck=1
priority=1

[rh_storage_osd]
name=Red Hat Ceph Storage - local packages for Ceph OSD
baseurl=file://{{ ceph_rhcs_repository_path }}/OSD
enabled=1
gpgcheck=1
priority=1

[rh_storage_tools]
name=Red Hat Ceph Storage - local packages for Ceph client, MDS, and RGW
baseurl=file://{{ ceph_rhcs_repository_path }}/Tools
enabled=1
gpgcheck=1
priority=1
