[Unit]
Description=Expose ceph-iscsi-config python libraries to the host
After=rbd-target-api.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=-{{ ceph_isci_container_run_script_path }}/expose_ceph_iscsi_config.sh
RemainAfterExit=true
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
