# This is seed configuration used by the ceph_iscsi_config modules
# when handling configuration tasks for iscsi gateway(s)
#
# {{ ansible_managed }}

[config]
cluster_name = {{ cluster }}
gateway_keyring = {{ cluster }}.client.admin.keyring


# Optional settings related to the CLI/API service
#api_user = admin
#api_password = admin
#api_port = 5001
#api_secure = true
#loop_delay = .5
#trusted_ip_list = 192.168.122.1
