[Unit]
Description=RBD Target API Service
{% if container_binary == 'docker' %}
After=docker.service
{% else %}
After=network.target
{% endif %}

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/{{ container_binary }} stop rbd-target-api
ExecStartPre=-/usr/bin/{{ container_binary }} rm rbd-target-api
ExecStart=/usr/bin/{{ container_binary }} run --rm \
  --memory={{ ceph_rbd_target_api_docker_memory_limit }} \
  {% if (container_binary == 'docker' and ceph_docker_version.split('.')[0] is version_compare('13', '>=')) or container_binary == 'podman' -%}
  --cpus={{ ceph_rbd_target_api_docker_cpu_limit }} \
  {% else -%}
  --cpu-quota={{ ceph_rbd_target_api_docker_cpu_limit * 100000 }} \
  {% endif -%}
  -v /etc/localtime:/etc/localtime:ro \
  --privileged \
  --cap-add=ALL \
  --net=host \
  -v /dev:/dev \
  -v /dev/log:/dev/log \
  -v /lib/modules:/lib/modules \
  -v /etc/ceph:/etc/ceph \
  -v /var/log/rbd-target-api:/var/log/rbd-target-api:z \
  -e CLUSTER={{ cluster }} \
  -e CEPH_DAEMON=RBD_TARGET_API \
  -e CONTAINER_IMAGE={{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }} \
  --name=rbd-target-api \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
ExecStopPost=-/usr/bin/{{ container_binary }} stop rbd-target-api
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
