[Unit]
Description=TCMU Runner
{% if container_binary == 'docker' %}
After=docker.service
Requires=docker.service
{% else %}
After=network.target
{% endif %}

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/{{ container_binary }} stop tcmu-runner
ExecStartPre=-/usr/bin/{{ container_binary }} rm tcmu-runner
ExecStart=/usr/bin/{{ container_binary }} run --rm \
  --memory={{ ceph_tcmu_runner_docker_memory_limit }} \
  {% if (container_binary == 'docker' and ceph_docker_version.split('.')[0] is version_compare('13', '>=')) or container_binary == 'podman' -%}
  --cpus={{ ceph_tcmu_runner_docker_cpu_limit }} \
  {% else -%}
  --cpu-quota={{ ceph_tcmu_runner_docker_cpu_limit * 100000 }} \
  {% endif -%}
  -v /etc/localtime:/etc/localtime:ro \
  --privileged \
  --net=host \
  --cap-add=ALL \
  -v /dev:/dev \
  -v /lib/modules:/lib/modules \
  -v /etc/ceph:/etc/ceph \
  -e CLUSTER={{ cluster }} \
  -e CEPH_DAEMON=TCMU_RUNNER \
  --name=tcmu-runner \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
ExecStopPost=-/usr/bin/{{ container_binary }} stop tcmu-runner
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
