[Unit]
Description=TCMU Runner
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker stop tcmu-runner
ExecStartPre=-/usr/bin/docker rm tcmu-runner
ExecStart=/usr/bin/docker run --rm \
  --memory={{ ceph_tcmu_runner_docker_memory_limit }} \
  {% if ceph_docker_version.split('.')[0] | version_compare('13', '>=') -%}
  --cpus={{ ceph_tcmu_runner_docker_cpu_limit }} \
  {% else -%}
  --cpu-quota={{ ceph_tcmu_runner_docker_cpu_limit * 100000 }} \
  {% endif -%}
  -v /etc/localtime:/etc/localtime:ro \
  --privileged \
  --cap-add=ALL \
  -v /dev:/dev \
  -v /lib/modules:/lib/modules \
  -v /etc/ceph:/etc/ceph \
  -e CLUSTER={{ cluster }} \
  -e CEPH_DAEMON=TCMU_RUNNER \
  --name=tcmu-runner \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
ExecStopPost=-/usr/bin/docker stop tcmu-runner
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
